@import "../_variables.scss";

.advertisements {
  cursor: pointer;
  & > li {
    list-style-type: none;
  }
}

.advertisement {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5em;
  margin: .25em;
  @include flex(column);
  &:hover {
    background: $secondarycolor;
  }
  & > h4 {
    margin-bottom: 0.5em;
  }
  & > .tags {
    margin-top: 0.5em;
  }
}

.tags > li {
  list-style-type: none;
  display: inline-block;
  @extend .tag;
}
