<h2>{{ "USERADVERTISEMENT.title" | translate }}</h2>
<fieldset class="legende">
	<legend>{{ "USERADVERTISEMENT.legend" | translate }}</legend>
	<div>
		<span><fa [name]="'eye'"></fa> to review</span>
		<span><fa [name]="'play'"></fa> active</span>
		<span><fa [name]="'hourglass-end'"></fa> expired</span>
		<span><fa [name]="'ban'"></fa> declined</span>
		<span><fa [name]="'trash'"></fa> deleted</span>
	</div>
</fieldset>
<ul class="advertisements">
	<li *ngFor="let advertisement of advertisements">
		<div class="advertisement">
			<div class="titleRow">
				<h4>{{advertisement.title}}</h4>
				<div class="buttons">
					<span><fa [name]="'times'" (click)="delete(advertisement)"></fa></span>
					<span><fa [name]="'cog'" (click)="edit(advertisement)"></fa></span>
				</div>
			</div>
			<span>{{advertisement.description}}</span>
			<ul class="tags">
				<li *ngFor="let tag of advertisement.tags">
					{{tag.name}}
				</li>
			</ul>
		</div>
	</li>
</ul>
