<div class="container">
	<h2>{{ "REGISTER.title" | translate }}</h2>
	<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
		<div class="form-group">
			<label for="username">{{ "REGISTER.usernameField" | translate }}</label>
			<input type="text" class="form-control" id="username"
				   formControlName="username">
		</div>
		<span class="help-text" [style.display]="emailHelpDisplay">{{"REGISTER.emailHelp" | translate }}</span>
		<div class="form-group">
			<label for="email">
				{{ "REGISTER.emailField" | translate }}
				<span class="help" (click)="displayHelp()"><fa [name]="'question-circle'"></fa></span>
			</label>
			<span class="email"><input type="text" class="form-control" id="email"
				   formControlName="email">@hsr.ch</span>
		</div>
		<div class="form-group">
			<label for="password">{{ "REGISTER.passwordField" | translate }}</label>
			<input type="password" class="form-control" id="password"
				   formControlName="password">
		</div>
		<button type="submit" class="submit" [disabled]="!form.valid">{{ "REGISTER.submit" | translate }}</button>
		<span *ngIf="errorStatus == 409" class="hasError">{{ "REGISTER.error409" | translate }}</span>
		<span *ngIf="errorStatus == 403" class="hasError">{{ "REGISTER.error403" | translate }}</span>
	</form>
</div>
