@import "../../variables";

.categoryList {
  list-style: none;
  border: 1px solid black;
  margin-bottom: 1em;
  li {
    padding: 0.5em;
  }
  li:hover, .currcat {
    background: $secondarycolor;
    cursor: pointer;
  }
  .currcat {
    font-weight: bold;
  }
  .category {
    @include flex(row, space-between)
  }
}

.newCat, .submit{
  @include buttonLink();
}

