@import "../../variables";

.status-message{
  padding: 0.5em;
  font-weight: bold;
  border-radius: 5px;
}

.alert-success{
  @include oktext();
  margin: 5px 0;
  width: 100%;
  font-size: smaller;
}
.alert-danger{
  @include errortext();
  margin: 5px 0;
  width: 100%;
  font-size: smaller;
}