$maincolor: #A0A0A0;
$secondarycolor: #f2f2f2;
$highlightcolor: #ED1C24;
$font: "Segoe UI", sans-serif;

@mixin flex($direction: row, $justify: flex-start, $align: flex-start){
  display: -webkit-flex;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin shadow($horizontal: 0, $vertical: 2px, $blur: 5px, $spread: 0){
  -moz-box-shadow: $horizontal $vertical $blur $spread rgba(0, 0, 0,0.25);
  -webkit-box-shadow: $horizontal $vertical $blur $spread rgba(0, 0, 0, .25);
  box-shadow: $horizontal $vertical $blur $spread rgba(0, 0, 0, .25);
}