$maincolor: #A0A0A0;
$secondarycolor: #f2f2f2;
$highlightcolor: #d9534f;
$footercolor: #263238;
$menuiconcolor: $footercolor;
$font: "Segoe UI", sans-serif;

@mixin flex($direction: row, $justify: flex-start, $align: flex-start){
  display: -webkit-flex;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin shadow($horizontal: 0, $vertical: 2px, $blur: 5px, $spread: 0){
  -moz-box-shadow: $horizontal $vertical $blur $spread rgba(0, 0, 0,0.25);
  -webkit-box-shadow: $horizontal $vertical $blur $spread rgba(0, 0, 0, .25);
  box-shadow: $horizontal $vertical $blur $spread rgba(0, 0, 0, .25);
}


@mixin gradient($color1: rgb(255,255,255), $color2: rgb(242,242,242), $direction: top){
  background: $color1;
  background: -moz-linear-gradient($direction,  $color1 47%, $color2 100%);
  background: -webkit-linear-gradient($direction,  $color1 47%,$color2 100%);
  @if $direction == top {
    background: linear-gradient(to bottom, $color1 47%,$color2 100%);
  } @else {
    background: linear-gradient(135deg,  $color1 47%,$color2 100%);
  }
}


@mixin border($color:$maincolor,$width:1px, $radius: 4px){
  border: $width solid $color;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}


@mixin tag() {
  background-color: $highlightcolor;
  @include border(white, 0, 0.25em);
  color: white;
  padding: 0.1em .5em;
  margin: 0 0.5em 0 0;
  font-weight: bold;
  font-size: 75%;
}

@mixin buttonLink() {
  padding: 0.25em;
  border: 1px solid $maincolor;
  border-radius: 0.2em;
  color: #333;
  &:hover {
    background-color: $secondarycolor;
    cursor: pointer;
    @include shadow();
  }
}

@mixin buttonDisabled(){
  color: grey;
  background: lightgrey;
  &:hover {
    cursor: not-allowed;
    color: grey;
    background: lightgrey;
  }
}
