@import "~normalize-scss/sass/normalize";
@import "_variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: $font;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  @include flex(column, flex-start, stretch);
  min-height: 100vh;
}

header {
  @include flex(row, space-between, center);
  flex: 0 0 10%;
  @include gradient($maincolor, rgb(193,193,193), -45deg);
  height: 50px;
  padding: 5px;
  position: fixed;
  z-index: 2;
  width: 100%;
  @include shadow();
  nav {
    height: auto;
    margin-right: 1em;
  }
}

nav > ul > li {
  list-style-type: none;
  a {
    color: white;
    text-decoration: none;
    &:visited {
      color: black;
    }
    &:hover {
      color: $highlightcolor;
    }
  }
}

main {
  @include flex(row, space-around);
  flex: 1;
  padding-top: 50px;
  .content {
    flex: 0 1 100%;
    background-color: white;
    padding: 1rem;
  }
}

h1 {
  color: $highlightcolor;
}

#logo {
  height: 40px;
}

footer {
  flex: 0 1 5%;
  height: 5em;
  margin: 0;
  padding: 1em;
  background-color: $footercolor;
  color: white;
  font-size: small;
  border-top: 1px solid $maincolor;
}

@media (min-width: 700px){
  main {
    @include flex(row, space-around);
    flex: 1 1 100%;
    padding-top: 50px;
    .content {
      flex: 0 1 65%;
      background-color: white;
      padding: 1rem;
    }
  }
  footer {
    height: 5em;
    padding: 1em;
    background-color: $footercolor;
    color: white;
    font-size: small;
    border-top: 1px solid $maincolor;
  }
}