<div class="container">
	<header>
		<a href="/"><img id="logo" src="/assets/images/logo-adit-small.png"></a>
		<adit-advertisementsearch></adit-advertisementsearch>
		<input type="checkbox" id="menu-toggel" #menuToggle>
		<label for="menu-toggel" id="label-toggle"></label>
		<nav id="mainnav">
			<ul>
				<li>
					<a [routerLink]="['/advertisements']" routerLinkActive="active">
						<fa [name]="'files-o'"></fa>
						{{ "APP.advertisementsLink" | translate }}
					</a>
				</li>
				<li>
					<a [routerLink]="['/advertisement']" routerLinkActive="active">
						<fa [name]="'plus-square-o'"></fa>
						{{ "APP.advertisementLink" | translate }}
					</a>
				</li>
				<li>
					<a [routerLink]="['/account']" routerLinkActive="active">
						<fa [name]="'user-o'"></fa>
						{{ "APP.userLink" | translate }}
					</a>
				</li>
				<li>
					<a [routerLink]="['/register']" routerLinkActive="active">
						<fa [name]="'user-plus'"></fa>
						{{ "APP.registrationLink" | translate }}
					</a>
				</li>
				<li>
					<a [routerLink]="['/register']" routerLinkActive="active">
						<fa [name]="'user-plus'"></fa>
						{{ "APP.registrationLink" | translate }}
                    </a>
                </li>
                <li>
					<a [routerLink]="['/supervisorpanel']" routerLinkActive="active">
						<fa [name]="'star-o'"></fa>
						{{ "APP.supervisorLink" | translate }}
					</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="content">
			<router-outlet></router-outlet>
		</div>

	</main>
	<footer>
		<span>©adit</span>
		<nav>
			<ul>
				<li>
					<a (click)="changeLang('en')">EN</a>
				</li>
				<li>
					<a (click)="changeLang('de')">DE</a>
				</li>
			</ul>
		</nav>
	</footer>
</div>
