<div class="container">
	<header>
		<img id="logo" src="/assets/images/logo-adit.png">
		<nav>
			<ul>
				<li>
					<a [routerLink]="['/']" routerLinkActive="active">{{ "APP.appNothingLink" | translate }}</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="content">
			<p>{{ "APP.welcome" | translate }}</p>
			<adit-advertisementsearch></adit-advertisementsearch>
			<adit-advertisements></adit-advertisements>
			<router-outlet></router-outlet>

		</div>

	</main>
	<footer>
		<span>©adit</span>
		<nav>
			<ul>
				<li>
					<a (click)="changeLang('en')">EN</a>
					<a (click)="changeLang('de')">DE</a>
				</li>
			</ul>
		</nav>
	</footer>
</div>