@import "~normalize-scss/sass/normalize";
@import "_variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: $font;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  background: #EAF1F5;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

a {
  text-decoration: none;
  outline: none;
  color: white;
  cursor: pointer;
}

ul > li {
  list-style: none;
}

.container {
  @include flex(column, flex-start, stretch);
  min-height: 100%;
}

header {
  @include flex(row, space-between, center);
  flex: 0 0 10%;
  position: fixed;
  padding: 0 1rem;
  background: #364352;
  z-index: 2;
  width: 100%;
  nav {
    height: auto;
    margin-right: 1em;
  }

  img {
    height: 50px;
    margin-right: 1rem;
  }
}

#mainnav {
  display: none;
}

#subnav {
  @include box();
  margin-bottom: 1em;
  ul > li {
    display: inline-block;
  }
  ul > li > a {
    margin-right: 0.5rem;
    color: black;
    &:hover {
      color: $highlightcolor;
    }
    &.is-active{
      font-weight: bold;
      color: $highlightcolor
    }
  }
}


input[type=checkbox]#menu-toggle {
  display:none;
}

input[type=checkbox]#menu-toggle + label {
  background: linear-gradient(to bottom, $menuiconcolor 0%, $menuiconcolor 20%, transparent 20%, transparent 40%, $menuiconcolor 40%, $menuiconcolor 60%, transparent 60%, transparent 80%, $menuiconcolor 80%, $menuiconcolor 100%); //Gradient Hamburger
  cursor: pointer;
  height: 16px;
  width: 16px;
  display: inline-block;
}

input[type=checkbox]:checked ~ #mainnav {
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  @include gradient($maincolor, rgb(193, 193, 193), -45deg);
}

#mainnav > ul > li {
  display: inline-block;
  background: #303C4A;
  line-height: 3rem;
  padding: 1.5rem;
  border-bottom: 0.3rem solid $highlightcolor;

  a {
    text-decoration: none;
    padding-bottom: 1.5rem;

    &:visited,
    &:focus {
      color: white;
    }
    &:hover {
      color: $highlightcolor;
    }
  }
}

main {
  @include flex(row, space-around);
  flex: 1;
  padding-top: 50px;
  .content {
    flex: 0 1 100%;
    padding: 3rem 0;
    max-width: 100rem;
  }
}

form {
  @include box();
}

h1 {
  color: $highlightcolor;
}

footer {
  flex: 0 1 5%;
  background-color: #364352;
  color: white;
  font-size: small;
  border-top: 1px solid #A0A0A0;
}

@media (min-width: 700px) {
  #mainnav {
    display: block;
  }
  #label-toggle {
    display: none;
  }
}