<h2>{{ "PROFILE.title" | translate }}</h2>
<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
	<div class="form-group">
		<label for="username">{{ "PROFILE.usernameField" | translate }}</label>
		<input type="text" class="form-control" id="username"
			   formControlName="username">
	</div>
	<span class="help-text" [style.display]="emailHelpDisplay">{{"PROFILE.emailHelp" | translate }}</span>
	<div class="form-group">
		<label for="email">
			{{ "PROFILE.emailField" | translate }}
			<span class="help" (click)="displayHelp()"><fa [name]="'question-circle'"></fa></span>
		</label>
		<span class="email"><input type="text" class="form-control" id="email"
								   formControlName="email">@hsr.ch</span>
	</div>
	<div class="form-group">
		<label for="password">{{ "PROFILE.passwordField" | translate }}</label>
		<input type="password" class="form-control" id="password"
			   formControlName="password">
	</div>

	<button type="submit" class="submit" [disabled]="!form.valid">{{ "PROFILE.submit" | translate }}</button>
	<span *ngIf="isSubmitted" class="isSubmitted">{{ "PROFILE.isSubmitted" | translate }}</span>
	<span *ngIf="hasError" class="hasError">{{ "PROFILE.hasError" | translate }}</span>
</form>