<div class="container">
	<h2>{{ "AD.title" | translate }}</h2>
	<form (ngSubmit)="onSubmit(form.value)" #adForm="ngForm" [formGroup]="form">
		<!-- TODO: add custom error messages https://angular.io/docs/ts/latest/guide/forms.html -->
		<input type="hidden" id="id" name="id" fromControlName="id">
		<div class="form-group">
			<label for="title">{{ "AD.titleField" | translate }}</label>
			<input type="text" class="form-control" id="title" required
				   formControlName="title" name="title">
		</div>
		<div class="form-group">
			<label for="category">{{ "AD.category" | translate }}</label>
			<select class="form-control" id="category" required
					formControlName="category" name="category">
				<option [value]="''">{{ "AD.chooseCategory" | translate }}</option>
				<option *ngFor="let cat of categories" [selected]="cat?.name==form.controls['category']">{{cat?.name}}
				</option>
			</select>
		</div>
		<div class="form-group">
			<label for="description">{{ "AD.description" | translate }}</label>
			<input type="text" class="form-control" id="description" required
				   formControlName="description" name="description">
		</div>
		<div class="form-group">
			<label for="price">{{ "AD.price" | translate }}</label>
			<input type="text" class="form-control" id="price" required
				   formControlName="priceValue" name="price"
				   [pattern]="pricePattern">
		</div>
		<div class="tags">
			<span *ngFor="let tag of tags" class="tag" (click)="removeTag(tag)">x {{tag.name}}</span>
		</div>
		<span class="help-text" [style.display]="taghelpDisplay">{{"AD.taghelp" | translate }}</span>
		<div class="form-group">
			<label for="tagValue">{{ "AD.tags" | translate }}
				<span class="help" (click)="changeDisplay()"><fa [name]="'question-circle'"></fa></span>
			</label>
			<input [ngClass]="{'notags':form.controls['tagValue'].invalid}" type="text" class="form-control"
				   id="tagValue"
				   formControlName="tagValue" (keyup)="addTag()">
		</div>
		<button type="submit" class="submit" [disabled]="!adForm.form.valid">{{ "AD.submit" | translate }}</button>
		<span *ngIf="isSubmitted" class="isSubmitted">{{ "AD.isSubmitted" | translate }}</span>
	</form>
</div>