@import "../../variables";

.ad-info {
  @include box();
}

.buttons-user{
  @include flex(row, space-between);
}

.posted {
  font-style: italic;
  color: $maincolor;
  & > .username {
    font-style: normal;
    color: black;
  }
}

.ad-buttons > a {
  @include buttonLink;
}

.ad-title {
  @include flex(row, space-between);
  padding-bottom: 1em;
}

.ad-tags {
  margin: 2em 0;
  & > span {
    @include tag();
  }
}

.accept{
  @include buttonOk();
}

.decline{
  @include buttonCancle();
}

.buttons-supervisor{
  margin-top: 1em;
  @include flex(row, space-around);
  .ad-buttons button{
    margin: 1em;
  }
}
