@import "../../variables";

.categoryList {
  list-style: none;
  border: 1px solid black;
  margin-bottom: 1em;
  li {
    padding: 0.5em;
  }
  li:hover, .currcat {
    background: $secondarycolor;
    cursor: pointer;
  }
  .currcat {
    font-weight: bold;
  }
  .category {
    @include flex(row, space-between)
  }
}

.newCat, .submit{
  @include buttonLink();
}

.footer {
  margin-bottom: 1em;
  @include flex(column);
  button, input {
    margin: 0.25em 0;
  }
}

.sucess-text {
  @include oktext();
}

input[disabled]:hover{
  cursor: not-allowed;
}

@media (min-width: 700px) {
  .footer {
    @include flex(row);
    button {
      margin: 0 0.25em;
    }
    input {
      margin-right: 0.25em;
    }
  }
}
