@import "../../variables";

.rolesList{
  li {
    @include box();
    padding: 0.5em;

    &:hover {
      background: #EEFBFF;
      cursor: pointer;
    }
    #role{
      font-style:italic;

    }
  }
  .currentUser{
    font-weight: bold;
  }
  .userroles{
  }
  #usercontent{
    width: 100%;
    vertical-align: middle;
    display:flex;
    flex-direction: row;
    justify-content:space-between;

  }
  #usercontent > select{
    max-height: 40px;
  }

}