<h2> {{"USERROLES.title" | translate}} </h2>
<ul class="rolesList">
    <li >{{"USERROLES.user" | translate}} | {{"USERROLES.role" | translate}}</li>
    <li class="userroles" *ngFor="let user of users" (click)="editUser(user)"
        [ngClass]="{'currentUser':currentUser==user}">
        <span>{{user.username}} |
            <span id="role">
                <select>
                    <option *ngFor="let role of roles" value="{{role.name}}" [attr.selected]="role.name==user.role.name">{{role.name}}</option>
                </select>
            </span>
        </span>
    </li>
</ul>