<div class="ad-info">
	<div class="ad-title">
		<h3>{{advertisement?.title}}</h3>
		<span>{{advertisement?.price}}</span>
	</div>
	<div class="ad-content">
		<p>{{advertisement?.description}}</p>
	</div>
	<div class="ad-tags">
		<span *ngFor="let tag of advertisement?.tags">{{tag?.name}}</span>
	</div>
	<div class="ad-media">
		<span *ngFor="let med of advertisement?.media">
			<img [src]="getMedia(med)" alt="{{med.description}}"/>
		</span>
	</div>
	<div class="ad-buttons">
		<a>{{ "ADINFO.privateMessagingLink" | translate }}</a>
		<a>{{ "ADINFO.emailLink" | translate }}</a>
	</div>
</div>