@import "../_variables.scss";

.ad-info {
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;

}

.buttons-user {
  @include flex(row, space-between);
}

.posted {
  font-style: italic;
  color: $maincolor;
  & > .username {
    font-style: normal;
    color: black;
  }
}

.ad-buttons > a {
  @include buttonLink;
}

.ad-title {
  @include flex(row, space-between);
  padding-bottom: 1em;
}

.ad-tags {
  margin: 2em 0;
  & > span {
    @include tag();
  }
}

.ad-media > span {
  & > img {
    max-width: 4em;
    @include border($maincolor);
    margin-bottom: 1em;
    padding: 0.5em;
  }
}