@import "../_variables.scss";

.ad-info {
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;

}

.ad-buttons > a {
  padding: 0.25em;
  border: 1px solid $maincolor;
  border-radius: 0.2em;
  cursor: pointer;
  color: #333;
  &:hover {
    background-color: $secondarycolor;
    @include shadow();
  }
}

.ad-title {
  @include flex(row, space-between);
  padding-bottom: 1em;
}

.ad-tags {
  margin: 2em 0;
  & > span {
    @extend .tag;
  }
}

.ad-media > span {
  & > img {
    max-width: 4em;
    border: 1px solid $secondarycolor;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 0.5em;
  }
}